In [1]:
import pandas as pd
import numpy as np

In [3]:
# préciser le chemin du fichier à lire
cheminDuFichierCSV = "./../data/dictionary/1757_Buchanan-J.csv" 

# demander à pandas de lire le fichier et garder ce tableau accessible dans une variable
dfDicoBuch = pd.read_csv(cheminDuFichierCSV, delimiter=";", encoding="utf8")

In [4]:
dfDicoBuch.head()

   nbSyll        pron origin warning remarques POS  lineId  pageId
0       3     aʹbăcus    NaN     NaN       NaN  n.     2.0      19
1       2      ăbăʹft    NaN     NaN       NaN  p.     3.0      19
2       3  ăbaiʹſănce     F.     NaN       NaN  n.     4.0      19
3       3    ābăʹndon     F.     NaN       NaN  v.     5.0      19
4       4  ābăʹndŏned    NaN     NaN       NaN  a.     6.0      19

In [11]:
dfLetters = pd.read_csv("./../data/dictionary/Buchanan_PronChar_counts.csv", delimiter=";", encoding="utf8")

In [73]:
dfLetters = pd.read_csv("./../data/dictionary/Buchanan_PronChar_counts.csv", delimiter=";", encoding="utf8")
dfLetters = dfLetters.replace(np.nan, '', regex=True)

In [74]:
dfLetters

   char    occ graph
0     a   3207     a
1     ʹ  12725
2     b   2288     b
3     ă   4533     a
4     c   5500     c
..  ...    ...   ...
68    á      1     a
69    I      1     l
70    х      2     x
71    р      1     p
72    ï      1     i

[73 rows x 3 columns]

In [77]:
dfLetters["graph"][dfLetters["char"] == "ʹ"][1] == ""

True

In [78]:
"michel".replace("oui","test")

'michel'

In [104]:
dfDicoBuch["headWord"] = None

In [105]:
dfLetters["graph"][dfLetters["char"]==char][dfLetters["graph"][dfLetters["char"]==char].index[0]]

'u'

In [108]:
for i in range(len(dfDicoBuch)):
    word = dfDicoBuch["pron"][i]
    for char in list(dfLetters["char"]):
        word = word.replace(char, dfLetters["graph"][dfLetters["char"]==char][dfLetters["graph"][dfLetters["char"]==char].index[0]])
    dfDicoBuch["headWord"][i] = word

/usr/lib/python3/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [110]:
dfDicoBuch.head()

   nbSyll        pron origin warning remarques POS  lineId  pageId   headWord
0       3     aʹbăcus    NaN     NaN       NaN  n.     2.0      19     abacus
1       2      ăbăʹft    NaN     NaN       NaN  p.     3.0      19      abaft
2       3  ăbaiʹſănce     F.     NaN       NaN  n.     4.0      19  abaisance
3       3    ābăʹndon     F.     NaN       NaN  v.     5.0      19    abandon
4       4  ābăʹndŏned    NaN     NaN       NaN  a.     6.0      19  abandoned

In [27]:
dfDicoBuch.to_csv("./../data/dataframe/new_dataframe.csv", sep=";")

In [19]:
dfDicoBush = pd.read_csv("./../data/dataframe/new_dataframe.csv", sep=";")

In [13]:
# ne garder que la première occurence pour éviter une indécision mais ce n'est pas terrible. A discuter avec les linguistes.
cheminDuMappingSampaIpa = "./../data/dictionary/sampa-ipa.txt" 
dfMappingSampaIpa = pd.read_csv(cheminDuMappingSampaIpa, delimiter="  *", encoding="utf8", engine='python', names=['sampa','ipa'])
dfMappingSampaIpa.sample(n=3)
dfMappingSampaIpa.drop_duplicates(subset=['sampa'], keep='first', inplace=True)
def sampa2ipa(strSampa, dfMapping):
    ipaRes = ""
    
    listValSampa = strSampa.split(" ")
    #print(listValSampa)
    for valSampa in listValSampa:
        dfRowFinded = dfMapping[dfMapping['sampa']==valSampa]

        if len(dfRowFinded==1):
            ipaRes+=dfRowFinded.iloc[0]['ipa']
        else:
            ipaRes+='?'
    return ipaRes
dfDicoBigi = pd.read_csv("./../data/dictionary/2015_Bigi-B.dict", delimiter=" \[\] ", encoding="utf8", engine='python', names=['hwd','pronSampa'], skiprows=8 )

dfDicoBigiRich = dfDicoBigi.copy()

dfDicoBigiRich['ipa'] = dfDicoBigiRich.apply(lambda x: sampa2ipa(x['pronSampa'], dfMappingSampaIpa),1)

dfDicoBigiRich
#dfDicoBigiRich
#pathDicoBigiRich = "./../data/dataframe/BigiRichSample.csv"
#dfDicoBigiRich.to_csv(pathDicoBigiRich, sep=";",encoding="utf8",index=False)

                  hwd        pronSampa       ipa
0                   a                @         ə
1                a(2)               eI         ?
2             a'ready      @ r\ E d i:    əɹɛdiː
3                 a's             eI z        ?z
4                  a.               eI         ?
...               ...              ...       ...
131098  zyuganov's(3)  z u g A n A v z  zugɑnɑvz
131099  zyuganov's(4)  z u g A n A f s  zugɑnɑfs
131100        zywicki     z i w I k i:   ziwɪkiː
131101           zzzz           z i: z      ziːz
131102        zzzz(2)              z z        zz

[131103 rows x 3 columns]

In [15]:
pathDicoBigiRich = "./../data/dataframe/ipa_final.csv"
dfDicoBigiRich.to_csv(pathDicoBigiRich, sep=";",encoding="utf8",index=False)

In [16]:
dfDicoBigiRich = pd.read_csv("./../data/dataframe/ipa_final.csv", sep=";",encoding="utf8", engine='python', names=['hwd','pronSampa', "ipa"], skiprows=9)

In [17]:
dfDicoBigiRich.head()

       hwd        pronSampa      ipa
0      aaa  t r\ I p @ l eI  tɹɪpəl?
1   aaberg        A b 3:r g   ɑbɜ:rg
2   aachen          A k @ n     ɑkən
3    aaker          A k 3:r    ɑkɜ:r
4  aalseth        A l s E T    ɑlsɛθ

In [23]:
dfDicoBigiRich = dfDicoBigiRich.rename(columns={"hwd": "headWord"})

In [25]:
dfDicoBigiRich.head()

  headWord        pronSampa      ipa
0      aaa  t r\ I p @ l eI  tɹɪpəl?
1   aaberg        A b 3:r g   ɑbɜ:rg
2   aachen          A k @ n     ɑkən
3    aaker          A k 3:r    ɑkɜ:r
4  aalseth        A l s E T    ɑlsɛθ

In [21]:
dfDicoBuch = pd.read_csv("./../data/dataframe/new_dataframe.csv", sep=";")

In [36]:
dfDicoBuch = dfDicoBuch.merge(dfDicoBigiRich, on= "headWord", how="left").drop(columns = ["warning", "remarques"])

In [37]:
dfDicoBuch.head()

,nbSyll,pron,origin,POS,lineId,pageId,headWord,pronSampa_x,ipa_x,pronSampa_y,ipa_y
0,3,aʹbăcus,NaN,n.,2.0,19,abacus,{ b @ k @ s,æbəkəs,{ b @ k @ s,æbəkəs
1,2,ăbăʹft,NaN,p.,3.0,19,abaft,NaN,NaN,NaN,NaN
2,3,ăbaiʹſănce,F.,n.,4.0,19,abaisance,NaN,NaN,NaN,NaN
3,3,ābăʹndon,F.,v.,5.0,19,abandon,@ b { n d @ n,əbændən,@ b { n d @ n,əbændən
4,4,ābăʹndŏned,NaN,a.,6.0,19,abandoned,@ b { n d @ n d,əbændənd,@ b { n d @ n d,əbændənd

In [38]:
dfDicoBuch.to_csv("./../data/dataframe/new_dataframe.csv", sep=";",index=False)